/* Цвет основного текста #2E2F42 */
/* Вторичный текст #434455 */
/* Белый #FFFFFF */
/* Акцент #4D5AE5 */
/* Вторичный цвет фона #F4F4FD */

:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --primary-white-color: #ffffff;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: "Raleway", "Roboto", sans-serif;
}
.list {
    list-style: none;
}

/* Logo. WEBSTUDIO */
.logo {
    color: var(--title-text-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;    
}

.web {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo:hover, 
.logo:focus {
    color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

/* Contacts */

.contacts-link {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
    
}

/* Hero */

.hero {
    background-color: var(--title-text-color);
}

.hero-title {
    color: var(--primary-white-color);

    font-family: 'Roboto';
    font-style: 400;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

/* Section */

.section-title {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* Features */

.features .title {
    color: var(--title-text-color);

    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features .text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Our team */

.bckg {
    background-color: #F4F4FD;
}


.about-team .staff {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.about-team .position {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 32px;
    width: 264px;

    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

/* Button main page*/


.hero-btn {
    background-color: var(--accent-color);
    color: var(--primary-white-color);

    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    align-items: center;
    letter-spacing: 0.04em;
    line-height: 1.18;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button.primary:focus,
.button.primary:hover {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Footer */

.footer .footer-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



/* Portfolio */

.portf-btn {
    justify-content: center;
    padding: 8px 16px;
    width: 116px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}

.portf-btn:focus,
.portf-btn:hover {
    background-color: #4D5AE5;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* portfolio item */
.link {
    text-decoration: none;
}

.title {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text {
    color: var(--primary-text-color);
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portf-item{
    box-sizing: border-box;
    width: 360px;
    background: #FFFFFF;
    
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}